<div id="home_section" class="section_wrapper">
    <div class="overlay_black">
      		<div class="section_content container-fluid">

                <div class="profile_image_container delay-med animated bounceIn">
                  <%= image_tag("sarah_monks.jpg", size: "210x210", :alt => "Sarah Monks") %>
                </div>

      			<%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'Sarah Monks', 
                    :section_intro_paragraph => 'Web Developer | Web Designer | Mobile App Designer.',
                    :title_style => 'title-light'} %>
                <div class="row">
                    <div id="scroll-down"  class="col-md-2 col-md-offset-5 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center" >
                        <a href="#about_section" class="btn btn-blue page-scroll"><i class="fa fa-angle-double-down"></i> Scroll Down</a>
                    </div>
                </div>

        </div>
    </div>
</div>
<div id="about_section">
    <div class="section_content container-fluid">
            <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'About me', 
                    :section_intro_paragraph => 'I am a technically and logically minded individual who is passionate about writing high quality code. I enjoy working individually and also with a team.',
                    :title_style => 'title-dark'} %>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <h3 class="about_list_heading wow fadeInLeft">Personal Details</h3>
                <ul class="about-list">

                    <li class="wow fadeInLeft" data-wow-delay=".3s">
 
                        <%= render partial: 'partials/about_list_icon', :locals => {:icon => 'fa-info'} %>

                        <div class="row">
                            <h4 class="inline_heading col-md-4 col-sm-4 col-xs-4 col-xxs-6">Nationality:</h4><p class="inline_description col-md-8 col-sm-8 col-xs-8 col-xxs-6"> Irish</p>
                            <h4 class="inline_heading col-md-4 col-sm-4 col-xs-4 col-xxs-12">Email:</h4><p class="inline_description col-md-8 col-sm-8 col-xs-8 col-xxs-12"> monks.sarah@gmail.com</p>
                        </div>                          
                    </li>

                </ul>
                <h3 class="about_list_heading wow fadeInLeft">Work Experience</h3>
                 <ul class="about-list">
                    <% work_experience.each do |item| %>
                         <%= render partial: 'partials/about_me_list_item', :locals => {:item => item, :icon => 'fa-wrench', :bootstrap_animation => 'fadeInLeft', :list_type => 'work_experience'} %>

                    <% end %>
                </ul>
          
            </div>

            <div class="col-md-5 col-sm-6">
                <h3 class="about_list_heading wow fadeInRight">Education</h3>
                <ul class="about-list">
                    <% education.each do |item| %>
                         <%= render partial: 'partials/about_me_list_item', :locals => {:item => item, :icon => 'fa-graduation-cap', :bootstrap_animation => 'fadeInRight', :list_type => 'education'} %>

                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>