<div id="dublin_inquirer_section" class="section_wrapper">
    <div class="overlay_black">
        <div class="section_content container-fluid">
               
                <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'Dublin Inquirer App', 
                    :section_intro_paragraph => 'I worked with a cross-functional team, planning, designing and building the following application for the Dublin Inquirer newspaper company and their subscribers. <br>I was lead developer on this project.
                        <br><br>The app is now available on both the Apple App Store and the Google Play Store.',
                    :title_style => 'title_light'} %>



            <div class="row">
                   <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center bounceIn ">
                       <!-- app store buttons -->
                        <%= render partial: 'partials/app_store_button', 
                            :locals => {:store_link => "https://itunes.apple.com/ie/app/dublin-inquirer/id1205172559", 
                                        :store_name => "App Store", :button_icon => "fa-apple"} %>
                        <%= render partial: 'partials/app_store_button', 
                            :locals => {:store_link => "http://play.google.com/store/apps/details?id=com.dublininquirer.dublininquirerapp", 
                                        :store_name => "Play Store", :button_icon => "fa-android"} %>

                  </div><!--End app-button-div-->
            </div>                      

            <div id="dublin_inquirer_carousel" class="owl-carousel owl-theme row">
                <% di_app_screenshots.each do |screenshot| %>
                    <div class="item">
                        <div class="thumbnail">
                            <%= image_tag("#{screenshot['img_src']}", size: "407x705", :alt => "#{screenshot['img_title']}", class: "img-responsive carousel_phone") %>
                                  
                            <div class="caption">
                                <h3><%= screenshot['img_title'] %></h3>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div><!--/owl carousel -->
          
        </div><!--/container -->
    </div>
</div>

<div id="virtual_realty_section">
    <div class="container-fluid">
        <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'Virtual Realty', 
                    :section_intro_paragraph => 'I worked with a cross-functional team planning, designing and implementing a website to showcase an idea we had for a digital product we call "Virtual Realty".',
                    :title_style => 'title_dark'} %>
        <div class="row wow slideInRight">      
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                <%= render partial: 'partials/showcase_image', 
                            :locals => {:img_alt => 'Virtual Realty', 
                            :url => 'http://www.gamuzic.com/virtual_realty', 
                            :img_src => '/assets/vr_showcase.png', 
                            :width => '666', 
                            :height => '516'} %>
            </div>      
        </div> 
        <div class="row wow bounceIn text-center">            
            <%= link_to "View website","http://www.gamuzic.com/virtual_realty", :target => "_blank", class: "btn btn_blue btn_blue_text" %>
        </div>            
     </div>
</div>

<div id="todo_app_section" class="section_wrapper">
    <div class="overlay_black_even">
        <div class="section_content container-fluid">
            <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'Angular JS-"To Do list" App', 
                    :section_intro_paragraph => 'I built a "To Do List" mobile application using Angular JS 1.x, HTML5 and CSS3.',
                    :title_style => 'title_light'} %>

            <div class="row wow slideInLeft">      
                <div class="col-md-offset-3 col-md-7 col-sm-offset-1 col-sm-10 col-xs-12">
                    <%= render partial: 'partials/showcase_image', 
                            :locals => {:img_alt => 'Todo App', 
                            :url => 'http://www.gamuzic.com/todo', 
                            :img_src => '/assets/todo_showcase.png', 
                            :width => '760', 
                            :height => '783'} %>
                </div>      
            </div>  
            <div class="row wow bounceIn text-center">      
                <%= link_to "View app","http://www.gamuzic.com/todo", :target => "_blank", class: "btn btn_blue extra_margin" %>
               <%= link_to raw("View code"),"https://github.com/sarahmonks/to_do_app", :target => "_blank", class: "btn btn_blue extra_margin" %>
            </div>  
        </div>
    </div>
</div>

<div id="alien_relatives_section">
    <div class="section_content container-fluid">
        <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'Alien Relatives', 
                    :section_intro_paragraph => 'I built the following desktop application using React.js, HTML5, CSS3, JavaScript (including the Web Audio API), PHP (OOP) and mySQL. 
                            <br><br>The application is called "Alien relatives" and its aim is to create a fun, uplifting experience for the user. <br>Firstly, the user is prompted to enter their name. 
                            They are then informed of the "Alien tribe" they are related to (calculated based on the first letter of their name) and given a special wisdom message.',
                    :title_style => 'title_dark'} %>

        <div class="row wow slideInRight">      
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                    <%= render partial: 'partials/showcase_image', 
                            :locals => {:img_alt => 'Alien Relatives', 
                            :url => 'https://alien-relatives.herokuapp.com/', 
                            :img_src => '/assets/alien_relatives_mac.png', 
                            :width => '1724', 
                            :height => '1408'} %>
            </div>  
        </div>  
        <div class="row wow bounceIn text-center">      
            <%= link_to "View app","https://alien-relatives.herokuapp.com/", :target => "_blank", class: "btn btn_blue btn_blue_text" %>   
        </div>  
    </div>
</div>

<div id="react_app_section" class="section_wrapper">
    <div class="overlay_black">
        <div class="section_content container-fluid">
            <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'React Mp3 player', 
                    :section_intro_paragraph => 'I built a simple mp3 player application using HTML5, CSS3, JavaScript, and React.js. 
                        <br>I used the HTML5 Web audio API to enable the sounds to be played.<br>',
                    :title_style => 'title_light'} %>

            <div class="row wow slideInLeft">      
                <div class="col-md-offset-3 col-md-7 col-sm-offset-1 col-sm-10 col-xs-12">
                    <%= render partial: 'partials/showcase_image', 
                            :locals => {:img_alt => 'React App', 
                            :url => 'https://reactmp3player.herokuapp.com/', 
                            :img_src => '/assets/react_showcase.png', 
                            :width => '760', 
                            :height => '624'} %>
                </div>      
            </div>  
            <div class="row wow bounceIn text-center">      
                <%= link_to raw("View app"),"https://reactmp3player.herokuapp.com/", :target => "_blank", class: "btn btn_blue extra_margin" %>
                <%= link_to raw("View code"),"https://github.com/sarahmonks/mp3_player", :target => "_blank", class: "btn btn_blue extra_margin" %>
            </div>  
        </div>
     </div>
</div>

<div id="noteboard_section">
    <div class="section_content container-fluid">
        <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => 'Rails Noteboard app', 
                    :section_intro_paragraph => 'I built the following simple CRUD application with Ruby on Rails. Please feel free to try it out!',
                    :title_style => 'title_dark'} %>
        <div class="row wow slideInLeft">      
            <div class="col-md-offset-3 col-md-7 col-sm-offset-1 col-sm-10 col-xs-12">
                    <%= link_to(image_tag("/assets/note_board_showcase.png", 
                    size: "760x783", 
                    :alt => "Noteboard App", 
                     class: "img-responsive"), controller: 'sticky_notes' ) %>
            </div>      
        </div>  
        <div class="row wow bounceIn text-center">      
            <%= link_to raw("View App"), sticky_notes_path , class: "btn btn_blue btn_blue_text" %>
        </div>  
    </div>
</div>

<div id="azula_section" class="section_wrapper">
    <div class="overlay_black">
        <div class="section_content container-fluid">
            <%= render partial: 'partials/intro_section', 
                    :locals => {:section_title => '"Azula" Sticker pack', 
                    :section_intro_paragraph => 'I created a "Sticker pack" called "Azula" which is on sale on the LINE sticker store. <br> I drew the images in Photoshop and created the apng files with APNG Assembler. <br> The word Azula comes from the Spanish word Azul which means blue. <br>The aim of the Sticker pack is to bring fun and vibrance to people\'s chats.',
                    :title_style => 'title_light'} %>

            <div class="row wow slideInLeft">  

                <%= render partial: 'partials/azula_image', 
                            :locals => {:img_alt => 'Azula waving', 
                            :img_src => '/assets/azula/azula_wave.png', 
                            :width => '278', 
                            :height => '264'} %>

                <div class="col-md-4 col-sm-4 col-xs-12">
           
                   <%= image_tag("/assets/azula/azula_wave.png", 
                        size: "278x264", 
                        :alt => "", 
                        class: "azula_img") %>
                </div>   
                <div class="col-md-4 col-sm-4 col-xs-12">
                   <%= image_tag("/assets/azula/azula_puzzled.png", 
                        size: "305x261", 
                        :alt => "", 
                        class: "azula_img") %>
                </div>     
              
                <div class="col-md-4 col-sm-4 col-xs-12">
                     <%= image_tag("/assets/azula/azula_laugh.png", 
                        size: "278x269", 
                        :alt => "", 
                        class: "azula_img") %>
                </div>     
                 <div class="col-md-4 col-sm-4 col-xs-12">
                   <%= image_tag("/assets/azula/azula_dance.png", 
                        size: "278x269", 
                        :alt => "", 
                        class: "azula_img") %>
                </div>       
                <div class="col-md-4 col-sm-4 col-xs-12">
           
                   <%= image_tag("/assets/azula/azula_sad.png", 
                        size: "278x264", 
                        :alt => "", 
                        class: "azula_img") %>
                </div>   
                    
                <div class="col-md-4 col-sm-4 col-xs-12">
                     <%= image_tag("/assets/azula/azula_zip_it.png", 
                        size: "278x269", 
                        :alt => "", 
                        class: "azula_img") %>
                </div>    
            </div>  
            <div class="row wow bounceIn text-center">      
                <%= link_to raw("View on LINE store"),"https://store.line.me/stickershop/product/1370468", :target => "_blank", class: "btn btn_blue" %>

            </div>  
        </div>
     </div>
</div>