<div id="contact_section" class="section_wrapper">
	<div class="overlay_black">
		<div class="section_content">
			<%= render partial: 'partials/intro_section', :locals => {:section_intro_data => section_intro_info['contact_section']} %>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			
				  	<%= form_for @contact do |f| %>
              			<% if flash['error'] %>
                			<p class="error_alert_message">
                    			<%= flash['error'] %>
               				</p>
              			<% end %>

						<% if @contact.errors.any? %>

				    		<div id="contact_form_errors">
				      			<p class="error_alert_message">
				        			<%= pluralize(@contact.errors.count, "error") %> encountered when trying to submit your message.
				      			</p>
				      			<ul>
				        			<% @contact.errors.full_messages.each do |msg| %>
				          				<li><%= msg %></li>
				        			<% end %>
				      			</ul>
				    		</div>
				  		<% end %>
				 
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<%= f.label :first_name, '* First name' %>
					    				<%= f.text_field :first_name, :placeholder => "First name" , :maxlength => 40, :required => true, class: "form-control" %>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<%= f.label :last_name, 'Last name' %>
					    				<%= f.text_field :last_name, :placeholder => "Last name" , :maxlength => 40, class: "form-control" %>
								</div>
							</div>
						</div>


						<div class="row">

							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<%= f.label :email, '* Email' %>
					    				<%= f.text_field :email, :placeholder => "Email" , :maxlength => 255, :required => true, class: "form-control" %>
								</div>
							</div>	
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<%= f.label :phone_number, 'Phone number' %>
					    				<%= f.text_field :phone_number, :placeholder => "Phone number" , :maxlength => 20, class: "form-control" %>
								</div>
							</div>	
							
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<%= f.label :message, '* Message' %>
					    				<%= f.text_area :message, :placeholder => "Your message" , :maxlength => 2000, :required => true,  rows: "4",  class: "form-control" %>
								</div>
							</div>	
							<div class="col-md-12">
					                	<p><strong>*</strong> Denotes required fields.</p>
					                </div>
						</div>
					
						
						<div class="row">
					    		<div class="col-md-12 col-sm-12">
								<div class="form-group">
					      				
					      				<%= f.submit "Send Message" , :class=> "btn btn-blue btn-submit" %>
								</div>
					    		</div>
						</div>

				  	<% end %>

				</div>
			</div>

		</div>
	</div><!--/overlay End -->
</div><!--/Contact Section End -->
