<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Sarah Monks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render partial: 'partials/header' %>

   <div id="main_container" class="container-fluid">   
        <%= yield %>
    </div>
    <%= render partial: 'partials/scroll_to_top' %>
    <%= render partial: 'partials/footer' %>
    <script src='/assets/anime.min.js'></script>
    <script src='/assets/wow.js'></script>
    <script src='/assets/custom.js'></script>
  </body>
</html>
